:root, html, body {
	font: 14px/18px 'Open Sans', sans-serif;
	height: 100%;
	height: 100vh;
	min-height: 600px;
	min-width: 600px;
	overflow: hidden;
	margin: 0;
}

*:active {
	cursor: url(../i/cursor/12.png), pointer;
}

.dialog [data-npc]:hover,
.dialog [data-npc]:active,
.blueDialog [data-npc] [data-anim]:hover,
.blueDialog [data-npc] [data-anim]:active,
.controls a:hover {
	cursor: url(../i/cursor/0.png), default;
}

[data-npc] [data-anim]:hover,
[data-quest]:hover {
	cursor: url(../i/cursor/13-0.png), default;
}

[data-npc] [data-anim]:active,
[data-quest]:active,
.controls a:active {
	cursor: url(../i/cursor/13-1.png), pointer;
}

body {
	background-image:
		url(../i/notice/BetaEdition.png),
		url(../i/bg/grassySoil-6.img.png),
		url(../i/bg/grassySoil-4.img.png),
		url(../i/bg/grassySoil-10.img.png),
		url(../i/bg/grassySoil-9.img.png);
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		repeat-x,
		repeat;
	background-position:
		calc(100% - 10px) 10px,
		0 bottom,
		1024px bottom,
		0 0,
		0 bottom;
	cursor: url(../i/cursor/0.png), auto;
}

body > figure {
	background-image:
		url(../i/fg/grassySoil-obj-9.png),
		url(../i/tile/enH0-1.png),
		url(../i/tile/enH0-2.png),
		url(../i/tile/enH1-1.png),
		url(../i/tile/enH1-2.png),
		url(../i/tile/edD-0.png),
		url(../i/tile/edU-0.png),
		url(../i/tile/edD-0.png),
		url(../i/tile/edU-0.png);
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;
	background-position:
		78px calc(100% - 54px),
		30px calc(100% - 27px),
		120px calc(100% - 27px),
		30px bottom,
		120px calc(100% - 1px),
		6px calc(100% - 8px),
		0 calc(100% - 27px),
		184px calc(100% - 8px),
		180px calc(100% - 27px);
	height: 400px;
	margin: 0;
	position: absolute;
	bottom: 300px;
	right: 200px;
	width: 242px;
}

.minimap {
	background-image:
		url(../i/ui/MiniMap-BtMin-disabled-0.png),
		url(../i/ui/MiniMap-BtMax-disabled-0.png),
		url(../i/ui/MiniMap-BtMap-disabled-0.png),
		url(../i/ui/MiniMap-Min-c.png);
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		repeat-x;
	background-position:
		calc(100% - 42px) 4px,
		calc(100% - 57px) 4px,
		100% 4px,
		0 0;
	color: #eee;
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	min-width: 1px;
	padding: 0 100px 0 10px;
	position: absolute;
	top: 0;
	left: 6px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 989;
}

.minimap:before, .minimap:after {
	background-repeat: no-repeat;
	content: '';
	height: 20px;
	position: absolute;
	top: 0;
	width: 6px;
}

.minimap:before {
	background-image: url(../i/ui/MiniMap-Min-w.png);
	background-position: left, 0;
	left: -6px;
}

.minimap:after {
	background-image: url(../i/ui/MiniMap-Min-e.png);
	background-position: right, 0;
	right: -6px;
}

.minimap .drag {
	height: 20px;
	position: absolute;
	width: 100%;
}

.dialogContainer {
	background: transparent;
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 990;
}

.dialogContainer div {
	display: table-cell;
	vertical-align: middle;
}

.blueDialog {
	background-image: url(../i/dialog/UtilDlgEx-c.png);
	background-repeat: repeat-y;
	display: none;
	height: 100px;
	min-height: 100px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 519px;
	z-index: 991;
}

.blueDialog, .blueDialog:before, .blueDialog:after {
	background-position: 0 0;
}

.blueDialog:before, .blueDialog:after {
	background-repeat: no-repeat;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 519px;
}

.blueDialog:after {
	background-image: url(../i/dialog/UtilDlgEx-s.png);
	height: 44px;
	bottom: -44px;
}

.blueDialog:before {
	background-image: url(../i/dialog/UtilDlgEx-t.png);
	height: 28px;
	top: -28px;
}

.blueDialog .drag {
	height: 28px;
	position: absolute;
	top: -28px;
	left: 0;
	width: 519px;
}

.blueDialog [data-npc] {
	display: table-cell;
	position: relative;
	height: 100%;
	width: 154px;
}

.blueDialog [data-npc] [data-anim] {
	background-position: center center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding-left: 10px;
	width: 138px;
}

.blueDialog .content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	padding: 0 34px 0 20px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
	width: 380px;
}

.blueDialog .controls {
	display: table-row;
	height: 20px;
	line-height: 20px;
	position: absolute;
	bottom: -40px;
	left: 10px;
	width: 499px;
	z-index: 999;
}

.controls a.end-chat {
	background-image: url(../i/dialog/UtilDlgEx-BtClose-normal.png);
	display: inline-block;
	height: 16px;
	width: 91px;
}
.controls a.end-chat:hover {
	background-image: url(../i/dialog/UtilDlgEx-BtClose-mouseOver.png);
}
.controls a.end-chat:active {
	background-image: url(../i/dialog/UtilDlgEx-BtClose-pressed.png);
}

.dialog {
	background-image:
		url(../i/dialog/bossAni-backgrnd2.png),
		url(../i/dialog/bossAni-backgrnd.png);
	background-repeat:
		no-repeat,
		no-repeat;
	background-position:
		6px 22px,
		0 0;
	display: none;
	height: 193px;
	margin: 200px auto;
	position: relative;
	width: 519px;
}

.dialog p {
	color: blue;
	display: table-cell;
	margin: 0;
	overflow: hidden;
	padding: 40px 20px 50px 154px;
	vertical-align: middle;
}

.dialog [data-npc] {
	top: 50px;
	left: 50px;
}

[data-npc] {
	position: absolute;
}

[data-npc] .chat {
	background: #eee;
	border: 1px solid #000;
	box-shadow: inset 0 0 4px 2px #99aacc;
	border-radius: 8px;
	color: #9E3939;
	display: none;
	font-size: 13px;
	height: auto;
	line-height: 20px;
	padding: 8px;
	position: absolute;
	left: -100%;
	bottom: calc(100% + 20px);
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
	width: 120px;
}

[data-npc] .chat:after {
	background-image:
		url(../i/chat/0-arrow.png);
	content: '';
	display: block;
	height: 13px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 13px;
}

[data-npc] [data-anim] {
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
}

[data-npc] [data-anim="0"] {
	opacity: 1;
}

[data-npc="mapleadmin"],
[data-npc="mapleadmin2"] {
	height: 69px;
	width: 46px;
}

[data-npc="mapleadmin"] {
	bottom: 54px;
	left: 26px;
}

[data-npc="mapleadmin"] [data-anim],
[data-npc="mapleadmin2"] [data-anim] {
	height: 69px;
	width: 46px;
}

[data-npc="mapleadmin"] [data-anim="0"],
[data-npc="mapleadmin2"] [data-anim="0"] {
	background-image:
		url(../i/npc/9900000-stand-0.png);
}

[data-npc="mapleadmin"] [data-anim="1"],
[data-npc="mapleadmin2"] [data-anim="1"] {
	background-image:
		url(../i/npc/9900000-stand-1.png);
}

main > section {

}